.results-container {
  background: #efeeea;
  color: #23362b;
  text-align: left;
  position: absolute;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result-item-hover {
  background: #1bb28c;
}

.search-container {
  width: 100%;
  position: relative;
}
