/*
COLOR PALETTE
#23362b
#1bb28c
#e86a58
#fed45b
#9bc7c5
#efeeea
font-family: 'Alex Brush', cursive;
font-family: 'Open Sans', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap");

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

h1,
h2 {
  font-family: "Alex Brush", cursive;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3233;
}

button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 750px) {
}
